<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="/layout/header :: header"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Document</title>
</head>
<body>
<div id="main">
    <div id="head">
        <th:block th:insert="/layout/navbar :: navbar"/>
    </div>
    <div id="head-link">
    </div>
    <div id="left">
    </div>
    <div id="content">
        <table class="table table-hover">
            <thead>
            <tr class="table-dark">
                <th scope="col">#</th>
                <th scope="col">Name drinks</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col" colspan="2">Action</th>
            </tr>
            </thead>
            <tbody id="tbProduct">
            </tbody>
        </table>
    </div>
    <div id="right">
    </div>
    <div id="footer">
    </div>
</div>

<th:block th:insert="/product/modalCreate :: modal-create"/>

<th:block th:insert="/product/modalUpdate :: modal-update"/>

<th:block th:insert="/product/temp_option :: temp-option"/>

<th:block th:insert="/product/list_table :: temp-products"/>

<script src="/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/assets/js/jquery-3.6.0.min.js"></script>
<script src="/assets/js/jquery.validate.min.js"></script>
<script src="/assets/js/iziToast.min.js"></script>
<script src="/assets/js/sweetalert2@11.js"></script>
<script src="/assets/js/app.js"></script>

<script>

    let product = new Product();

    let category = new Category();

    let recipe = new Recipe();

    let tempProduct = $.validator.format($.trim($("#tempProduct").val()));

    let tempOption = $.validator.format($.trim($("#tempOption").val()));

    let tampId = 0;

    let addRow = () => {
        $("#tbProduct").prepend($(tempProduct(product.id, product.nameProduct, product.price,
            product.categoryName, product.description)));
    }

    let addRowOption = (element, id, name) => {
        $(element).append($(tempOption(id, name)));
    }

    function loadProduct() {
        return $.ajax({
            type: "GET",
            headers: {
                "Content-Type": "application/json",
                "Accept": "application/json"
            },
            url: "http://localhost:8080/api/products/"
        })
            .done(function (data) {
                data.forEach(item => {
                    product = item;
                    addRow();
                })
            })
    }

    function drawListCategory() {
        $.ajax({
            url: "http://localhost:8080/api/categories/",
            success: function (categories) {
                $("#category").empty();

                categories.forEach(item => {
                    addRowOption("#category", item.id, item.name);
                });
            },
            error: function () {

            }
        })
    }

    function findById(id) {
        return $.ajax({
            type: "GET",
            headers: {
                "Content-Type": "application/json",
                "Accept": "application/json"
            },
            url: "http://localhost:8080/api/products/" + id,
        })
        .done(function (data) {
            product = data;
        })
    }

    function handleGroupModal() {
        handleCreateForm();
        handleUpdateForm();
        handlerShowConfirmSuspend();
    }

    function handleCreateForm() {
        let btnCreate = $(".btn-createProduct");

        btnCreate.on("click", function () {
            console.log("click")
            drawListCategory();
            $("#createModal").modal("show");
        })
    }

    function handleUpdateForm() {
        let btnUpdate = $(".btn-updateProduct");

        btnUpdate.on("click", function () {
            let id = $(this).data("id");
            tampId = id;
            findById(id).then(function () {

                $("#nameProductUp").val(product.nameProduct);
                $("#priceUp").val(product.price);
                // $("#categoryUp").val(product.category);
                $("#descriptionUp").val(product.description);

                drawListCategory();

                $("#updateModal").modal("show");
            })
        })
    }

    function handlerShowConfirmSuspend() {

        $(".btn-delete").on("click", function () {
            App.SweetAlert.ShowConfirmSuspend().then(result => {
                if (result.isConfirmed) {
                    let id = $(this).data('id');

                    findById(id).then(function () {

                        doSuspension(id).then(function () {
                            App.SweetAlert.showSuccessAlert('Suspended successfully');

                            $("#tr_" + id).remove();

                            handleGroupModal();
                        })
                    })
                }
            })
        })
    }

    function doCreate() {
        product.id = 0;
        product.nameProduct = $("#nameProduct").val();
        product.price = +$("#price").val();
        product.category = +$("#category").val();
        product.description = $("#description").val();
        $.ajax({
            type: "POST",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "http://localhost:8080/api/products/create",
            data: JSON.stringify(product)
        })
            .done(function (data) {
                product = data;
                addRow();
                App.SweetAlert.showSuccessAlert("Create new drinks successful!!");
                $("#createModal").modal("hide");
                handleGroupModal();
            })
            .fail(function (jqXHR) {

            })
    }

    function doUpdate() {
        product.nameProduct = $("#nameProductUp").val();
        product.price = +$("#priceUp").val();
        product.description = $("#descriptionUp").val();
        $.ajax({
            type: "PUT",
            headers: {
                "Content-Type" : "application/json",
                "Accept" : "application/json"
            },
            url: "http://localhost:8080/api/products/update/" + product.id,
            data: JSON.stringify(product)
        })
        .done(function (data) {
            product = data;
            let currentRow = $("#tr_" + product.id);
            let updateRow = $(tempProduct(product.id, product.nameProduct,
                product.price,product.categoryName,product.description));
            currentRow.replaceWith(updateRow);

            App.SweetAlert.showSuccessAlert("Update successful!!!");

            $("#updateModal").modal("hide");

            handleGroupModal();

        })
        .fail(function (jqXHR) {
            App.SweetAlert.showErrorAlert("Cannot find product");
        })
    }

    function doSuspension(id) {
        return $.ajax({
            type: "DELETE",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "http://localhost:8080/api/products/delete/" + id,
        }).done(function () {

        }).fail(function (jqXHR) {

        });
    }

    function resetModal(formElement) {
        $(formElement)[0].reset();
        $(formElement).validate().resetForm();
        $(formElement + ' input.error').removeClass("error");
    }

    function closeModal(modal, formElement) {
        $(modal).on("hidden.bs.modal", function () {
            $(modal + ' .modal-alert-danger').empty().removeClass('show').addClass('hide');
            resetModal(formElement);
        });
    }

    closeModal("#createModal", "#frmCreate");

    closeModal("#updateModal","#frmUpdate");

    $("#frmCreate").validate({
        rules: {
            nameProduct: {
                required: true,
            },
            price: {
                required: true,
                min: 10000,
                max: 200000
            },
            description: {
              required : true
            }
        },
        messages: {
            nameProduct: {
                required: "Name drinks is required",

            },
            price: {
                required: "Price is required",
                min: "Price min is 10000",
                max: "Price max is 200.000"
            },
            description: {
                required: "Description is required"
            }
        },
        submitHandler: function() {
            doCreate();
        }
    });

    $("#frmUpdate").validate({
        rules: {
            nameProductUp: {
                required: true,
            },
            priceUp: {
                required: true,
                min: 10000,
                max: 200000
            },
            descriptionUp: {
                required : true
            }
        },
        messages: {
            nameProductUp: {
                required: "Name drinks is required",

            },
            priceUp: {
                required: "Price is required",
                min: "Price min is 10000",
                max: "Price max is 200.000"
            },
            descriptionUp: {
                required: "Description is required"
            }
        },
        submitHandler: function() {
            doUpdate();
        }
    });

    $("#btnCreate").on("click", function () {
        $("#frmCreate").submit();
    })

    $("#btnUpdate").on("click", function () {
        if(tampId != product.id) {
            App.SweetAlert.showErrorAlert("This drinks is not drinks need update!!")
        } else {
            $("#frmUpdate").submit();
        }
    })

    loadProduct().then(function () {
        handleGroupModal();
    })

    //     .then(function () {
    //     ();
    // })
</script>
</body>
</html>